:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* RESPONSIVE DESIGN  */
@media screen and (max-width: 1101px) {
  .login-sign-nav,
  .login-sign-nav button {
    display: none;
  }
}

/* LOGIN & SIGNUP PAGE */

.front,
.back {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #030405;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  perspective: 1500px;
  border-radius: 5px;
}

.back {
  transform: rotateY(180deg);
}

.inner {
  height: 100%;
  width: 100%;

  transform: translateZ(110px) scale(1);

  @media screen and (max-width: 645px) {
    transform: none;
  }
}

.signupbtn {
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  color: #0473e5;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  font-weight: 700;
  right: 28.5%;
  bottom: 10.35%;

  @media screen and (max-width: 645px) {
    font-size: 12px;
  }
  @media screen and (max-width: 400px) {
    font-size: 9px;
  }
}

.signupbtn:hover {
  color: #04488e;
}

.logo-login-signup {
  position: absolute;
  inset: auto 0;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.h2logsign {
  position: absolute;
  top: 17.5%;
  text-align: center;
  left: 0;
  right: 0;
  font-weight: 600;
  font-size: 30px;
}

.button-login {
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;

  @media screen and (max-width: 645px) {
    font-size: 14px;
  }
}

.front .button-login {
  position: absolute;
  bottom: 21%;
  width: 25%;
  background-color: #0473e5;
  text-align: center;
  left: 0%;
  transform: translateX(150%);
}

.button-login:hover {
  box-shadow: 0 3px 12px #0473e5;
}

.inputfieldlog {
  position: relative;
  top: -60px;
  left: -7.5%;

  @media screen and (max-width: 645px) {
    left: -3rem;
  }
}

.icon-span {
  position: relative;
  opacity: 1;
  right: 0%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 35px #030405 inset !important;
}

.if-formikerrors-email {
  border-color: red;
}
.if-formikerrors-email:focus {
  border-color: red;
  outline: transparent;
  outline-color: red;
}

.if-noformikerrors-email:focus {
  border-color: #0473e5;
  outline: transparent;
  outline-color: #0473e5;
}

.labeltextred {
  color: red;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
}

input {
  cursor: auto;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-color: #030405;
  color: #ffffff;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

.showpasswordicon {
  position: absolute;
}