.successpge {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
  display: grid;
  place-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;

  @media screen and (max-width: 680px) {
    align-items: center;
    place-items: center;
    width: 100%;
    height: 100%;
  }
}

.Confetti {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.logosuccess {
  margin: 0 auto;
  width: 65px;
  height: 65px;
}

.greatjob {
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  margin-top: 25px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.welcometodfam {
  font-size: 30px;
  font-weight: 600;
  margin-top: 25px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.centerpsuc {
  margin-top: 25px;
  font-size: 20px;
}

.btnsuccess {
  margin: auto;
  width: fit-content;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  color: white;
  background-color: #0473e5;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border: none;
}

.btnsuccess:hover {
  background-color: #0096ff;
}
